<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inkline | <% book.title %></title>
  </head>
  <body>
    <h2>Select a PDF to view</h2>
    <input type="file" id="file-input" accept="application/pdf" />
    <div id="reader-container"></div>

    <script src="path_to_your_typescript_bundle.js"></script>
  </body>
</html>
